Perodic Table.txt
[
    {
        "id": "1b4e9ce485ce1e46",
        "type": "tab",
        "label": "Perodic Table ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6f49e0cbad4ef59",
        "type": "function",
        "z": "1b4e9ce485ce1e46",
        "name": "function 1",
        "func": "// msg.payload = [\n//     { number: 1, symbol: 'H', name: 'Hydrogen', category: 'non-metal', position: [1, 1], atomicMass: 1.008, description: 'Lightest element' },\n//     { number: 2, symbol: 'He', name: 'Helium', category: 'noble-gas', position: [18, 1], atomicMass: 4.0026, description: 'Noble gas' },\n//     { number: 3, symbol: 'Li', name: 'Lithium', category: 'alkali-metal', position: [1, 2], atomicMass: 6.94, description: 'Alkali metal' },\n//     { number: 4, symbol: 'Be', name: 'Beryllium', category: 'alkaline-earth-metal', position: [2, 2], atomicMass: 9.0122, description: 'Alkaline earth metal' },\n//     { number: 5, symbol: 'B', name: 'Boron', category: 'metalloid', position: [13, 2], atomicMass: 10.81, description: 'Metalloid' },\n//     { number: 6, symbol: 'C', name: 'Carbon', category: 'non-metal', position: [14, 2], atomicMass: 12.011, description: 'Organic element' },\n//     { number: 7, symbol: 'N', name: 'Nitrogen', category: 'non-metal', position: [15, 2], atomicMass: 14.007, description: 'Atmospheric gas' },\n//     { number: 8, symbol: 'O', name: 'Oxygen', category: 'non-metal', position: [16, 2], atomicMass: 15.999, description: 'Essential for life' },\n//     { number: 9, symbol: 'F', name: 'Fluorine', category: 'non-metal', position: [17, 2], atomicMass: 18.998, description: 'Halogen' },\n//     { number: 10, symbol: 'Ne', name: 'Neon', category: 'noble-gas', position: [18, 2], atomicMass: 20.180, description: 'Noble gas' },\n//     { number: 118, symbol: 'Og', name: 'Oganesson', category: 'noble-gas', position: [18, 7], atomicMass: 294, description: 'Superheavy noble gas' }\n//     // Add more elements as needed\n// ];\n\n// return msg;\n\nmsg.payload = [\n    { number: 1, symbol: 'H', name: 'Hydrogen', category: 'non-metal', position: [1, 1], atomicMass: 1.008, description: 'Lightest element' },\n    { number: 2, symbol: 'He', name: 'Helium', category: 'noble-gas', position: [18, 1], atomicMass: 4.0026, description: 'Noble gas' },\n    { number: 3, symbol: 'Li', name: 'Lithium', category: 'alkali-metal', position: [1, 2], atomicMass: 6.94, description: 'Alkali metal' },\n    { number: 4, symbol: 'Be', name: 'Beryllium', category: 'alkaline-earth-metal', position: [2, 2], atomicMass: 9.0122, description: 'Alkaline earth metal' },\n    { number: 5, symbol: 'B', name: 'Boron', category: 'metalloid', position: [13, 2], atomicMass: 10.81, description: 'Metalloid' },\n    { number: 6, symbol: 'C', name: 'Carbon', category: 'non-metal', position: [14, 2], atomicMass: 12.011, description: 'Organic element' },\n    { number: 7, symbol: 'N', name: 'Nitrogen', category: 'non-metal', position: [15, 2], atomicMass: 14.007, description: 'Atmospheric gas' },\n    { number: 8, symbol: 'O', name: 'Oxygen', category: 'non-metal', position: [16, 2], atomicMass: 15.999, description: 'Essential for life' },\n    { number: 9, symbol: 'F', name: 'Fluorine', category: 'non-metal', position: [17, 2], atomicMass: 18.998, description: 'Halogen' },\n    { number: 10, symbol: 'Ne', name: 'Neon', category: 'noble-gas', position: [18, 2], atomicMass: 20.180, description: 'Noble gas' },\n\n    // Adding all remaining elements...\n    { number: 11, symbol: 'Na', name: 'Sodium', category: 'alkali-metal', position: [1, 3], atomicMass: 22.990, description: 'Soft metal' },\n    { number: 12, symbol: 'Mg', name: 'Magnesium', category: 'alkaline-earth-metal', position: [2, 3], atomicMass: 24.305, description: 'Essential mineral' },\n    { number: 13, symbol: 'Al', name: 'Aluminium', category: 'post-transition-metal', position: [13, 3], atomicMass: 26.982, description: 'Light metal' },\n    { number: 14, symbol: 'Si', name: 'Silicon', category: 'metalloid', position: [14, 3], atomicMass: 28.085, description: 'Used in semiconductors' },\n    { number: 15, symbol: 'P', name: 'Phosphorus', category: 'non-metal', position: [15, 3], atomicMass: 30.974, description: 'Essential for DNA' },\n    { number: 16, symbol: 'S', name: 'Sulfur', category: 'non-metal', position: [16, 3], atomicMass: 32.06, description: 'Found in volcanoes' },\n    { number: 17, symbol: 'Cl', name: 'Chlorine', category: 'halogen', position: [17, 3], atomicMass: 35.45, description: 'Used in disinfectants' },\n    { number: 18, symbol: 'Ar', name: 'Argon', category: 'noble-gas', position: [18, 3], atomicMass: 39.948, description: 'Inert gas' },\n\n    // Transition metals...\n    { number: 19, symbol: 'K', name: 'Potassium', category: 'alkali-metal', position: [1, 4], atomicMass: 39.098, description: 'Vital for cells' },\n    { number: 20, symbol: 'Ca', name: 'Calcium', category: 'alkaline-earth-metal', position: [2, 4], atomicMass: 40.078, description: 'Strengthens bones' },\n    { number: 21, symbol: 'Sc', name: 'Scandium', category: 'transition-metal', position: [3, 4], atomicMass: 44.956, description: 'Rare earth metal' },\n    { number: 22, symbol: 'Ti', name: 'Titanium', category: 'transition-metal', position: [4, 4], atomicMass: 47.867, description: 'Used in aerospace' },\n    { number: 23, symbol: 'V', name: 'Vanadium', category: 'transition-metal', position: [5, 4], atomicMass: 50.942, description: 'Strong metal' },\n    { number: 24, symbol: 'Cr', name: 'Chromium', category: 'transition-metal', position: [6, 4], atomicMass: 51.996, description: 'Used in stainless steel' },\n    { number: 25, symbol: 'Mn', name: 'Manganese', category: 'transition-metal', position: [7, 4], atomicMass: 54.938, description: 'Used in steel production' },\n    { number: 26, symbol: 'Fe', name: 'Iron', category: 'transition-metal', position: [8, 4], atomicMass: 55.845, description: 'Essential for blood' },\n    { number: 27, symbol: 'Co', name: 'Cobalt', category: 'transition-metal', position: [9, 4], atomicMass: 58.933, description: 'Used in magnets' },\n    { number: 28, symbol: 'Ni', name: 'Nickel', category: 'transition-metal', position: [10, 4], atomicMass: 58.693, description: 'Corrosion-resistant' },\n    { number: 29, symbol: 'Cu', name: 'Copper', category: 'transition-metal', position: [11, 4], atomicMass: 63.546, description: 'Good conductor' },\n    { number: 30, symbol: 'Zn', name: 'Zinc', category: 'transition-metal', position: [12, 4], atomicMass: 65.38, description: 'Used in galvanization' },\n\n    { number: 31, symbol: \"Ga\", name: \"Gallium\", category: \"post-transition-metal\", position: [13, 4], atomicMass: 69.723, description: \"Melts in hand\" },\n    { number: 32, symbol: \"Ge\", name: \"Germanium\", category: \"metalloid\", position: [14, 4], atomicMass: 72.630, description: \"Used in semiconductors\" },\n    { number: 33, symbol: \"As\", name: \"Arsenic\", category: \"metalloid\", position: [15, 4], atomicMass: 74.922, description: \"Toxic element\" },\n    { number: 34, symbol: \"Se\", name: \"Selenium\", category: \"non-metal\", position: [16, 4], atomicMass: 78.971, description: \"Essential for health\" },\n    { number: 35, symbol: \"Br\", name: \"Bromine\", category: \"halogen\", position: [17, 4], atomicMass: 79.904, description: \"Only liquid halogen\" },\n    { number: 36, symbol: \"Kr\", name: \"Krypton\", category: \"noble-gas\", position: [18, 4], atomicMass: 83.798, description: \"Used in lighting\" },\n\n    { number: 37, symbol: \"Rb\", name: \"Rubidium\", category: \"alkali-metal\", position: [1, 5], atomicMass: 85.468, description: \"Highly reactive\" },\n    { number: 38, symbol: \"Sr\", name: \"Strontium\", category: \"alkaline-earth-metal\", position: [2, 5], atomicMass: 87.62, description: \"Used in fireworks\" },\n    { number: 39, symbol: \"Y\", name: \"Yttrium\", category: \"transition-metal\", position: [3, 5], atomicMass: 88.906, description: \"Used in LEDs\" },\n    { number: 40, symbol: \"Zr\", name: \"Zirconium\", category: \"transition-metal\", position: [4, 5], atomicMass: 91.224, description: \"Corrosion-resistant\" },\n    { number: 41, symbol: \"Nb\", name: \"Niobium\", category: \"transition-metal\", position: [5, 5], atomicMass: 92.906, description: \"Used in superconductors\" },\n    { number: 42, symbol: \"Mo\", name: \"Molybdenum\", category: \"transition-metal\", position: [6, 5], atomicMass: 95.95, description: \"Strengthens steel\" },\n    { number: 43, symbol: \"Tc\", name: \"Technetium\", category: \"transition-metal\", position: [7, 5], atomicMass: 98, description: \"First artificial element\" },\n    { number: 44, symbol: \"Ru\", name: \"Ruthenium\", category: \"transition-metal\", position: [8, 5], atomicMass: 101.07, description: \"Platinum group metal\" },\n    { number: 45, symbol: \"Rh\", name: \"Rhodium\", category: \"transition-metal\", position: [9, 5], atomicMass: 102.91, description: \"Used in catalytic converters\" },\n    { number: 46, symbol: \"Pd\", name: \"Palladium\", category: \"transition-metal\", position: [10, 5], atomicMass: 106.42, description: \"Used in fuel cells\" },\n    { number: 47, symbol: \"Ag\", name: \"Silver\", category: \"transition-metal\", position: [11, 5], atomicMass: 107.87, description: \"Best electrical conductor\" },\n    { number: 48, symbol: \"Cd\", name: \"Cadmium\", category: \"transition-metal\", position: [12, 5], atomicMass: 112.41, description: \"Used in batteries\" },\n    { number: 49, symbol: \"In\", name: \"Indium\", category: \"post-transition-metal\", position: [13, 5], atomicMass: 114.82, description: \"Soft, silvery metal\" },\n    { number: 50, symbol: \"Sn\", name: \"Tin\", category: \"post-transition-metal\", position: [14, 5], atomicMass: 118.71, description: \"Used in soldering\" },\n\n    { number: 51, symbol: \"Sb\", name: \"Antimony\", category: \"metalloid\", position: [15, 5], atomicMass: 121.76, description: \"Used in flame retardants\" },\n    { number: 52, symbol: \"Te\", name: \"Tellurium\", category: \"metalloid\", position: [16, 5], atomicMass: 127.60, description: \"Used in semiconductors\" },\n    { number: 53, symbol: \"I\", name: \"Iodine\", category: \"halogen\", position: [17, 5], atomicMass: 126.90, description: \"Essential nutrient\" },\n    { number: 54, symbol: \"Xe\", name: \"Xenon\", category: \"noble-gas\", position: [18, 5], atomicMass: 131.29, description: \"Used in high-end lamps\" },\n\n    { number: 57, symbol: \"La\", name: \"Lanthanum\", category: \"lanthanide\", position: [3, 6], atomicMass: 138.91, description: \"Used in optics\" },\n    { number: 58, symbol: \"Ce\", name: \"Cerium\", category: \"lanthanide\", position: [4, 6], atomicMass: 140.12, description: \"Used in catalysts\" },\n    { number: 59, symbol: \"Pr\", name: \"Praseodymium\", category: \"lanthanide\", position: [5, 6], atomicMass: 140.91, description: \"Used in aircraft engines\" },\n    { number: 60, symbol: \"Nd\", name: \"Neodymium\", category: \"lanthanide\", position: [6, 6], atomicMass: 144.24, description: \"Used in magnets\" },\n\n    { number: 89, symbol: \"Ac\", name: \"Actinium\", category: \"actinide\", position: [3, 7], atomicMass: 227, description: \"Radioactive\" },\n    { number: 90, symbol: \"Th\", name: \"Thorium\", category: \"actinide\", position: [4, 7], atomicMass: 232.04, description: \"Potential nuclear fuel\" },\n    { number: 91, symbol: \"Pa\", name: \"Protactinium\", category: \"actinide\", position: [5, 7], atomicMass: 231.04, description: \"Highly radioactive\" },\n    { number: 92, symbol: \"U\", name: \"Uranium\", category: \"actinide\", position: [6, 7], atomicMass: 238.03, description: \"Used in nuclear power\" },\n    { number: 93, symbol: \"Np\", name: \"Neptunium\", category: \"actinide\", position: [7, 7], atomicMass: 237, description: \"Radioactive metal\" },\n\n    { number: 117, symbol: \"Ts\", name: \"Tennessine\", category: \"halogen\", position: [17, 7], atomicMass: 294, description: \"Superheavy element\" },\n\n    // Continue adding all elements up to Oganesson (118) following the same pattern...\n    { number: 118, symbol: 'Og', name: 'Oganesson', category: 'noble-gas', position: [18, 7], atomicMass: 294, description: 'Superheavy noble gas' }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "6222a3a754b2d591",
                "0f23198186ac1974"
            ]
        ]
    },
    {
        "id": "6222a3a754b2d591",
        "type": "ui_template",
        "z": "1b4e9ce485ce1e46",
        "group": "f550f4fc8cbb223a",
        "name": "",
        "order": 1,
        "width": "26",
        "height": "13",
        "format": "\n\n\n<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Periodic Table</title>\n    <style>\n        body {\n            font-family: 'Arial', sans-serif;\n            background: #1a1a1a;\n            color: white;\n            text-align: center;\n            overflow-x: hidden;\n        }\n\n        h1 {\n            text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);\n        }\n\n        .container {\n            display: grid;\n            grid-template-columns: repeat(18, 1fr);\n            gap: 6px;\n            max-width: 1200px;\n            margin: auto;\n            padding: 10px;\n        }\n\n        .element {\n            border-radius: 10px;\n            padding: 14px;\n            text-align: center;\n            font-size: 14px;\n            cursor: pointer;\n            color: white;\n            transition: all 0.4s ease-in-out;\n            position: relative;\n            background: linear-gradient(135deg, #ff416c, #ff4b2b);\n            box-shadow: 0px 4px 10px rgba(255, 65, 108, 0.8);\n        }\n\n        .element:hover {\n            transform: scale(1.1);\n            box-shadow: 0 0 20px rgba(255, 255, 255, 1);\n        }\n\n        .alkali-metal {\n            background-color: #ff6666;\n        }\n\n        .alkaline-earth-metal {\n            background-color: #ffdead;\n        }\n\n        .transition-metal {\n            background-color: #ffc0cb;\n        }\n\n        .post-transition-metal {\n            background-color: #d0d0d0;\n        }\n\n        .metalloid {\n            background-color: #cccc99;\n        }\n\n        .non-metal {\n            background-color: #99cc99;\n        }\n\n        .noble-gas {\n            background-color: #66ccff;\n        }\n\n        .halogen {\n            background-color: #ffcc66;\n        }\n\n        .lanthanide {\n            background-color: #ffb366;\n        }\n\n        .actinide {\n            background-color: #ff99cc;\n        }\n\n        /* MODAL */\n        .modal {\n            display: none;\n            position: fixed;\n            z-index: 1000;\n            left: 0;\n            top: 0;\n            width: 100%;\n            height: 100%;\n            background: rgba(0, 0, 0, 0.6);\n            backdrop-filter: blur(10px);\n        }\n\n        .modal-content {\n            background: linear-gradient(145deg, #2c3e50, #1a1a2e);\n            color: white;\n            padding: 20px;\n            border-radius: 12px;\n            width: 50%;\n            margin: 10% auto;\n            text-align: left;\n            position: relative;\n            animation: flipIn 0.6s ease-in-out;\n        }\n\n        .modal-header {\n            font-size: 22px;\n            font-weight: bold;\n            text-transform: uppercase;\n            text-align: center;\n            border-bottom: 2px solid rgba(255, 255, 255, 0.3);\n            padding-bottom: 10px;\n        }\n\n        .modal-body {\n            padding: 10px 0;\n        }\n\n        .modal-footer {\n            text-align: center;\n            padding-top: 10px;\n        }\n\n        .close {\n            position: absolute;\n            top: 10px;\n            right: 15px;\n            font-size: 22px;\n            cursor: pointer;\n            color: white;\n            transition: color 0.3s ease;\n        }\n\n        .close:hover {\n            color: red;\n        }\n\n        @keyframes flipIn {\n            from {\n                transform: rotateY(90deg);\n                opacity: 0;\n            }\n\n            to {\n                transform: rotateY(0);\n                opacity: 1;\n            }\n        }\n    </style>\n</head>\n\n<body>\n    <h1>🌌 Periodic Table of Elements</h1>\n    <div class=\"container\" id=\"periodicTable\"></div>\n\n    <!-- MODAL POPUP -->\n    <div id=\"elementModal\" class=\"modal\">\n        <div class=\"modal-content\">\n            <span class=\"close\" onclick=\"closeModal()\">&times;</span>\n            <div class=\"modal-header\" id=\"elementName\"></div>\n            <div class=\"modal-body\">\n                <p><strong>Symbol:</strong> <span id=\"elementSymbol\"></span></p>\n                <p><strong>Atomic Number:</strong> <span id=\"elementNumber\"></span></p>\n                <p><strong>Atomic Mass:</strong> <span id=\"elementMass\"></span></p>\n                <p id=\"elementDescription\"></p>\n            </div>\n            <div class=\"modal-footer\">\n                <button onclick=\"closeModal()\" style=\"padding: 8px 15px; background: #ff416c; color: white; border: none; border-radius: 5px; cursor: pointer;\">Close</button>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        \n        \n\n        // (function(scope) {\n        // scope.$watch('msg.payload', function(elements) {\n        // if (!elements || !Array.isArray(elements)) return;\n        \n        // const table = document.getElementById(\"periodicTable\");\n        // table.innerHTML = ''; // Clear previous entries\n        \n        // elements.forEach(el => {\n        // let elem = document.createElement(\"div\");\n        // elem.className = `element ${el.category.replace(/\\s/g, \"-\")}`;\n        // elem.style.gridColumnStart = el.position[0];\n        // elem.style.gridRowStart = el.position[1];\n        \n        // elem.innerHTML = `\n        // <strong>${el.number}</strong><br>\n        //                 ${el.symbol}<br>\n        //                 ${el.name}\n        //             `;\n        \n        //             elem.onclick = function() { openModal(el); };\n        \n        //             table.appendChild(elem);\n        //         });\n        \n        //         // Force UI update in AngularJS\n        //         scope.$applyAsync();\n        //     });\n        \n            \n\n        //     function openModal(element) {\n        //     document.getElementById(\"elementName\").innerText = element.name;\n        //     document.getElementById(\"elementSymbol\").innerText = element.symbol;\n        //     document.getElementById(\"elementNumber\").innerText = element.number;\n        //     document.getElementById(\"elementMass\").innerText = element.atomicMass;\n        //     document.getElementById(\"elementDescription\").innerText = element.description;\n            \n        //     let modal = document.getElementById(\"elementModal\");\n        //     modal.style.display = \"block\";\n        //     }\n            \n        //     function closeModal() {\n        //     let modal = document.getElementById(\"elementModal\");\n        //     modal.style.display = \"none\";\n        //     }\n            \n        //     // Close modal if clicked outside content\n        //     window.onclick = function(event) {\n        //     let modal = document.getElementById(\"elementModal\");\n        //     if (event.target == modal) {\n        //     closeModal();\n        //     }\n        //     };\n        // })(scope);\n\n        (function(scope) {\n        scope.$watch('msg.payload', function(elements) {\n        if (!elements || !Array.isArray(elements)) return;\n        \n        const table = document.getElementById(\"periodicTable\");\n        table.innerHTML = ''; // Clear previous entries\n        \n        elements.forEach(el => {\n        let elem = document.createElement(\"div\");\n        elem.className = `element ${el.category.replace(/\\s/g, \"-\")}`;\n        elem.style.gridColumnStart = el.position[0];\n        elem.style.gridRowStart = el.position[1];\n        \n        elem.innerHTML = `\n        <strong>${el.number}</strong><br>\n                        ${el.symbol}<br>\n                        ${el.name}\n                    `;\n        \n                    elem.onclick = function() { openModal(el); };\n        \n                    table.appendChild(elem);\n                });\n        \n                // Force UI update in AngularJS\n                scope.$applyAsync();\n            });\n        \n            // Attach functions to the window object so they're globally accessible\n            window.openModal = function(element) {\n                document.getElementById(\"elementName\").innerText = element.name;\n                document.getElementById(\"elementSymbol\").innerText = element.symbol;\n                document.getElementById(\"elementNumber\").innerText = element.number;\n                document.getElementById(\"elementMass\").innerText = element.atomicMass;\n                document.getElementById(\"elementDescription\").innerText = element.description;\n        \n                let modal = document.getElementById(\"elementModal\");\n                modal.style.display = \"block\";\n        \n                // Fix: Ensure close button works\n                document.getElementById(\"closeModalBtn\").onclick = window.closeModal;\n            };\n        \n            window.closeModal = function() {\n                let modal = document.getElementById(\"elementModal\");\n                modal.style.display = \"none\";\n            };\n        \n            // Fix: Close modal when clicking outside content\n            window.onclick = function(event) {\n                let modal = document.getElementById(\"elementModal\");\n                if (event.target == modal) {\n                    window.closeModal();\n                }\n            };\n        })(scope);\n    </script>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "0f23198186ac1974",
        "type": "debug",
        "z": "1b4e9ce485ce1e46",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "ef210305b325da0c",
        "type": "inject",
        "z": "1b4e9ce485ce1e46",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "e6f49e0cbad4ef59"
            ]
        ]
    },
    {
        "id": "f550f4fc8cbb223a",
        "type": "ui_group",
        "name": "Default",
        "tab": "11130b2099b2c68d",
        "order": 1,
        "disp": true,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11130b2099b2c68d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]