TimeStamp Handler.txt
[
    {
        "id": "0da2a25af0f28539",
        "type": "debug",
        "z": "236214b7b3da23c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 760,
        "wires": []
    },
    {
        "id": "93aa6f9a0d61039c",
        "type": "inject",
        "z": "236214b7b3da23c3",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "0da2a25af0f28539"
            ]
        ]
    },
    {
        "id": "05d2956e121cf341",
        "type": "group",
        "z": "236214b7b3da23c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "76bf57c9f1fb0937",
            "0b1cc4a46ae4de1a",
            "9012cc47b39370e9",
            "a8be7a74cd9c9d7e",
            "5f6497b89a620ef1",
            "70b0705d656fe8b6",
            "71201d41f7ed2413",
            "b424e0ad11726953",
            "18f1dc13a64dce04",
            "9d9bb7273dccf256",
            "a099c8357957ee03",
            "9a47ebaf61917cf8",
            "8070de113b92f8b1",
            "cbe4b1fb301799d5",
            "1fa7b8ab6c355c80",
            "a3f23c87d478d1e9",
            "f2c9b22d1faa854c",
            "4b174939d85e4b8c",
            "26ad65b3a5732b40",
            "c4b27b55515c7d84",
            "65c5f23a8e905334"
        ],
        "x": 154,
        "y": 59,
        "w": 792,
        "h": 502
    },
    {
        "id": "76bf57c9f1fb0937",
        "type": "moment",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Seoul",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "ko_KR",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Seoul",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "b424e0ad11726953"
            ]
        ]
    },
    {
        "id": "0b1cc4a46ae4de1a",
        "type": "comment",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "timestamp",
        "info": "\n\nUnix Time은 즉 협정 세계시인 UTC에 근거\n1970년 1월 1일부터 경과의 숫자로 정의\n   정 세계시가 1972년 1월 1일에 재정\n1970-1-1\n\n시작  1970-01-01T00:00:00.000Z\n1년후 1971-01-01T00:00:00.000Z\n\n년 = 8640 * 365 = 31536000\n월 = 8640 * 30 = 2592000\n일 = 24 * 360 = 86400\n시 = 3600\n분 = 60\n초 = 1\n*1000\n\n31536000000\n\n\n\n",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "9012cc47b39370e9",
        "type": "inject",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "31536000000",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "31536000000",
        "payloadType": "num",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "f2c9b22d1faa854c"
            ]
        ]
    },
    {
        "id": "a8be7a74cd9c9d7e",
        "type": "inject",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "94608000000",
        "payloadType": "num",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "4b174939d85e4b8c"
            ]
        ]
    },
    {
        "id": "5f6497b89a620ef1",
        "type": "debug",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "3 years later",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "70b0705d656fe8b6",
        "type": "debug",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "1 year later",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "71201d41f7ed2413",
        "type": "inject",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "76bf57c9f1fb0937"
            ]
        ]
    },
    {
        "id": "b424e0ad11726953",
        "type": "debug",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "UTC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "18f1dc13a64dce04",
        "type": "inject",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "63072000000",
        "payloadType": "num",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "26ad65b3a5732b40"
            ]
        ]
    },
    {
        "id": "9d9bb7273dccf256",
        "type": "debug",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "2 years later",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "a099c8357957ee03",
        "type": "inject",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "94694400000",
        "payloadType": "num",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "c4b27b55515c7d84"
            ]
        ]
    },
    {
        "id": "9a47ebaf61917cf8",
        "type": "debug",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "3  years later(+1day)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "8070de113b92f8b1",
        "type": "comment",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "Leap Year 1972",
        "info": "Leap Years day(1970 - 2050)\n1972\n1976\n1980\n1984\n1988\n1992\n1996\n2000\t\n2004\n2008\n2012\n2016\n2020\n2024\n2028\n2032\n2036\n2040\n2044\n2048",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "cbe4b1fb301799d5",
        "type": "inject",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1514764800000",
        "payloadType": "num",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "65c5f23a8e905334"
            ]
        ]
    },
    {
        "id": "1fa7b8ab6c355c80",
        "type": "debug",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "2018( 1975yr + 48yr + 12 days)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "a3f23c87d478d1e9",
        "type": "comment",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "Leap Year days : 12 (1970~2018)",
        "info": "Leap Years day(1970 - 2050)\n1972\n1976\n1980\n1984\n1988\n1992\n1996\n2000\t\n2004\n2008\n2012\n2016\n2020\n2024\n2028\n2032\n2036\n2040\n2044\n2048",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "f2c9b22d1faa854c",
        "type": "moment",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Seoul",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "ko_KR",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Seoul",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "70b0705d656fe8b6"
            ]
        ]
    },
    {
        "id": "4b174939d85e4b8c",
        "type": "moment",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Seoul",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "ko_KR",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Seoul",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "5f6497b89a620ef1"
            ]
        ]
    },
    {
        "id": "26ad65b3a5732b40",
        "type": "moment",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Seoul",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "ko_KR",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Seoul",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "9d9bb7273dccf256"
            ]
        ]
    },
    {
        "id": "c4b27b55515c7d84",
        "type": "moment",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Seoul",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "ko_KR",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Seoul",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "9a47ebaf61917cf8"
            ]
        ]
    },
    {
        "id": "65c5f23a8e905334",
        "type": "moment",
        "z": "236214b7b3da23c3",
        "g": "05d2956e121cf341",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Seoul",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "ko_KR",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Seoul",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "1fa7b8ab6c355c80"
            ]
        ]
    }
]